numpy
scipy
pandas>1
matplotlib
altair
metaflow
python-dotenv
tqdm
filelock
typer
sh
gensim
spacy
networkx
cdlib
altair
altair-saver
selenium
webdriver-manager
xlrd
tabulate
jupyterlab
sqlalchemy
altair-saver
webdriver-manager
geopandas
pymysql
rtree
tomotopy
currency_converter
spacy
ratelim
